<ion-header>
  <ion-navbar>
    <ion-title *ngIf="session">{{schedule.scheduleName}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="schedule">
    <h1>{{schedule.scheduleName}}</h1>
   
    <!-- <h4 *ngFor="let speaker of session?.speakers">
    {{schedule.speaker}}
  </h4> -->
  <h1>{{schedule.dateSchedule}}</h1>
  <br/>
  <p>o evento vai durar:</p>
  <h2>{{schedule.duration}}</h2>
  
    <p>Nosso evento é secreto, mas podemos te dar uma dica!</p>
    <p>Nossa dica é: </p>
    <h2>{{schedule.clue}}</h2>
    <button ion-button color="secondary" (click)="YourFancyButton()">Comprar! {{schedule.price}}</button>
    
    

    <timer #timer [datetwo]="dateSalesEnd" *ngIf="dateSalesEnd"></timer>
    
      <button></button>
  </div>
</ion-content>
