<ion-header>
  <ion-navbar>
    <ion-title *ngIf="session">{{schedule.scheduleName}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="flex-container"  *ngIf="schedule">
    <h1>{{schedule.scheduleName}}</h1>
   
    <!-- <h4 *ngFor="let speaker of session?.speakers">
    {{schedule.speaker}}
  </h4> -->
  <h1>{{schedule.dateSchedule}}</h1>
  <br/>
  <p>o evento vai durar:</p>
  <h2>{{schedule.duration}}</h2>
  
    <p>Nosso evento é secreto, podemos te dar uma dica!</p>
    <p>Nossa dica é: </p>
    <h2>{{schedule.clue}}</h2>
    <br/>
    <br/>
    <h3>Vendas encerram em:</h3>
    </div>

    <timer #timer [datetwo]="dateSalesEnd" *ngIf="dateSalesEnd"></timer> 
    <button ion-button color="secondary" (click)="YourFancyButton()" block>Comprar</button>
    
    

   
    
    
</ion-content>
